.certification {
  &-container {
    background-color: var(--bgColor-2);
    padding: 2rem var(--padding);
    display: flex;

    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }
  &-container img {
    text-align: center;
    width: 45%;
    margin: 5%;
  }
}
@media screen and (max-width: 575px) {
  :root {
    --padding: 1.5rem;
  }

  .certification-container img {
    justify-self: center;
    width: 500px;
    margin: 0 var(--padding);
  }
  footer {
    align-items: center;
    padding: var(--padding);
  }
  footer p {
    padding: 0 0;
    width: 100%;
  }
  #title {
    display: inline;
  }
}
