<div class="home-container">
  <div class="home-first">
    <h1>
      {{ texts[0] }}
    </h1>
    <h2>{{ texts[1] }}</h2>
    <div class="home-social">
      <a href="https://www.facebook.com/fakher.talahmeh.7/" target="_blank"
        ><i class="facebook fa-brands fa-facebook"></i></a
      ><a href="https://www.instagram.com/fakher.talahmeh/" target="_blank"
        ><i class="instagram fa-brands fa-instagram"></i></a
      ><a
        href="https://www.linkedin.com/in/fakher-talahmeh-765609220/"
        target="_blank"
        ><i class="linkedin fa-brands fa-linkedin-in"></i
      ></a>
    </div>
  </div>

  <div class="home-second">
    <div class="home-container-images">
      <img
        src="assets/Hide and seek game-amico (1).png"
        alt=""
        class="home-shape"
      />
      <img src="assets/fakher.png" alt="" class="home-pic" />
    </div>
  </div>
</div>
